@import '../../../_settings/_variables.css';

.button {
    &{
        cursor: pointer;
        transition: opacity 0.5s;
    }
    &:active{
        opacity:0.5;
    }
}

/* Size */
.size-s {
    padding: 5px 8px;
}

.size-m {
    padding: 8px 18px;
}

.size-l {
    padding: 12px 28px;
}
