@import '../../../_settings/_variables.css';

.button {
    &{
        cursor: pointer;
        transition: opacity 0.5s, border 0.3s;
        box-sizing:border-box;
    }
    &:active{
        opacity:0.5;
    }
    &:hover{
        border:3px solid #45a1ff88;
    }
}

/* Size */
.size-s {
    padding: 5px 8px;
}

.size-m {
    padding: 8px 18px;
}

.size-l {
    padding: 12px 28px;
}

.disabled{
    background-color:#cdcdcd;
    color: #888888;
}