@import '../../../_settings/_variables.css';

.button {
    &{
        cursor: pointer;
    }
    &-submit{
        cursor: pointer;
        background-color:green;
        color:white;
    }
    &-reset{
        cursor: pointer;
        background-color:#cdcdcd;
    }
}

/* Size */
.size-s {
    padding: 5px 8px;
}

.size-m {
    padding: 8px 18px;
}

.size-l {
    padding: 12px 28px;
}
