@import '../../../_settings/_variables.css';

.dashboardMenu{
    width:250px;
    height:100%;
    position:fixed;
    left: 0;
    top:0;
    box-sizing:border-box;
}
.logout{
    position:absolute;
    bottom:0;
    left:0x;
    width:100%;
}
.logout:hover{
    color:red;
}