@import '../../../_settings/_variables.css';

.datepicker {
    &{
        position:absolute;
        width:300px;
        z-index:888;
    }
}
.datepicker >table{
    table-layout: fixed;
}
.datepicker-menu{
    border: 1px solid #cdcdcd;
    border-bottom: none;
}
.datepicker-menu>svg{
    cursor:pointer;
    fill: #383838;
    user-select: none;
}
table>thead{
    font-weight:bold;
}
.active-day {
    background-color: #1e3f96;
    color: white;
    cursor:pointer;
}
.normal-day {
    transition:background-color 0.5s;
    cursor:pointer;
}
.normal-day:hover {
    background-color:#cee6ff;
}
.disable-day {
    background-color: #e8e8e8;
}

/* Size */
/* .size-s1 {
    height: 20px;
    line-height: 20px;
}
.size-s {
    height: 30px;
    line-height: 30px;
}
.size-m {
    height: 40px;
    line-height: 40px;
}
.size-l {
    height: 50px;
    line-height: 50px;
}
.size-l1 {
    height: 60px;
    line-height: 60px;
}
.size-l2 {
    height: 80px;
    line-height: 80px;
}

.disabled{
    background-color:#ececec;
    cursor: not-allowed;
} */