@import '../../../_settings/_variables.css';

.notifications{
  position:fixed;
  top:0px;
  right:8px;
  z-index:900;
}
.notifications > div{
  align-items: center;
  display: flex;
  padding:18px;
  font-size:18px;
  max-width:400px;
  min-width:200px;
  color:white;
  margin-top:8px;
  border-radius: 4px;
}
.notification-success{
  background:green;
}
.notification-error{
  background:#ff4949;
}
.notification-warning{
  background:#c59b00;
}
