@import './_variables.css';

html,
body {
  color: var(--body-color);
  font-family: var(--base-font-family);
  font-weight: 300;
  line-height: var(--base-font-lineheight);
  -webkit-font-smoothing: antialiased;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
}

.position{
  &-relative{
    position:relative;
  }
  &-absolute{
    position:absolute;
  }
  &-absolute-center{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
  }
  &-fixed{
    position:fixed;
  }
  &-fixed-center{
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
  }
}

.width{
  &-default{
    width:auto;
  }
  &-full{
    width:100%;
  }
  &-s2{
    width:800px;
  }
  &-s1{
    width:900px;
  }
  &-s{
    width:1000px;
  }
  &-m{
    width:1100px;
  }
  &-l{
    width:1200px;
  }
  &-l1{
    width:1300px;
  }
  &-l2{
    width:1400px;
  }
  &-100px{
    width:150px;
  }
  &-150px{
    width:150px;
  }
  &-200px{
    width:200px;
  }
  &-300px{
    width:300px;
  }
  &-400px{
    width:400px;
  }
  &-500px{
    width:500px;
  }
  &-600px{
    width:600px;
  }
  &-700px{
    width:700px;
  }
  &-800px{
    width:800px;
  }
  &-900px{
    width:900px;
  }
  &-1000px{
    width:1000px;
  }
  &-1100px{
    width:1100px;
  }
  &-1200px{
    width:1200px;
  }
  &-20per{
    width:20%;
  }
  &-30per{
    width:30%;
  }
  &-40per{
    width:40%;
  }
  &-50per{
    width:50%;
  }
  &-60per{
    width:60%;
  }
  &-70per{
    width:70%;
  }
  &-80per{
    width:80%;
  }
}

.height{
  &{
    height:0%;
  }
  &-fit-screen{
    height:100%;
  }
  &-30px{
    height:30px;
  }
  &-40px{
    height:40px;
  }
  &-50px{
    height:50px;
  }
  &-100px{
    height:100px;
  }
  &-150px{
    height:150px;
  }
  &-200px{
    height:200px;
  }
  &-300px{
    height:300px;
  }
  &-400px{
    height:400px;
  }
  &-500px{
    height:500px;
  }
  &-600px{
    height:600px;
  }
}

.padding{
  &-v{
    &{
      padding:8px 0px;
    }
    &-3{
      padding:3px 0px;
    }
    &-5{
      padding:5px 0px;
    }
    &-8{
      padding:8px 0px;
    }
    &-10{
      padding:10px 0px;
    }
    &-12{
      padding:12px 0px;
    }
    &-15{
      padding:15px 0px;
    }
    &-18{
      padding:18px 0px;
    }
    &-28{
      padding:28px 0px;
    }
    &-38{
      padding:38px 0px;
    }
    &-638{
      padding:68px 0px;
    }
  }
  &-h{
    &{
      padding:0px 8px;
    }
    &-3{
      padding:0px 3px;
    }
    &-5{
      padding:0px 5px;
    }
    &-8{
      padding:0px 8px;
    }
    &-10{
      padding:0px 10px;
    }
    &-12{
      padding:0px 12px;
    }
    &-15{
      padding:0px 15px;
    }
    &-18{
      padding:0px 18px;
    }
    &-28{
      padding:0px 28px;
    }
    &-38{
      padding:0px 38px;
    }
    &-68{
      padding:0px 68px;
    }
  }
  &{
    padding:8px;
  }
  &-3{
    padding:3px;
  }
  &-5{
    padding:5px;
  }
  &-8{
    padding:8px;
  }
  &-10{
    padding:10px;
  }
  &-12{
    padding:12px;
  }
  &-15{
    padding:15px;
  }
  &-18{
    padding:18px;
  }
  &-28{
    padding:28px;
  }
  &-38{
    padding:38px;
  }
  &-68{
    padding:68px;
  }
}

.margin{
  &{
    &-auto{
      margin:auto;
    }
    &-s1{
      margin:3px;
    }
    &-3{
      margin:3px;
    }
    &-5{
      margin:5px;
    }
    &-8{
      margin:8px;
    }
    &-10{
      margin:10px;
    }
    &-12{
      margin:12px;
    }
    &-15{
      margin:15px;
    }
    &-18{
      margin:18px;
    }
    &-28{
      margin:28px;
    }
    &-38{
      margin:38px;
    }
  }
  &-top{
    &-3{
      margin-top:3px;
    }
    &-5{
      margin-top:5px;
    }
    &-8{
      margin-top:8px;
    }
    &-10{
      margin-top:10px;
    }
    &-12{
      margin-top:12px;
    }
    &-15{
      margin-top:15px;
    }
    &-18{
      margin-top:18px;
    }
    &-28{
      margin-top:28px;
    }
    &-38{
      margin-top:38px;
    }
  }
  &-right{
    &-3{
      margin-right:3px;
    }
    &-5{
      margin-right:5px;
    }
    &-8{
      margin-right:8px;
    }
    &-10{
      margin-right:10px;
    }
    &-12{
      margin-right:12px;
    }
    &-15{
      margin-right:15px;
    }
    &-18{
      margin-right:18px;
    }
    &-28{
      margin-right:28px;
    }
    &-38{
      margin-right:38px;
    }
  }
  &-bottom{
    &-3{
      margin-bottom:3px;
    }
    &-5{
      margin-bottom:5px;
    }
    &-8{
      margin-bottom:8px;
    }
    &-10{
      margin-bottom:10px;
    }
    &-12{
      margin-bottom:12px;
    }
    &-15{
      margin-bottom:15px;
    }
    &-18{
      margin-bottom:18px;
    }
    &-28{
      margin-bottom:28px;
    }
    &-38{
      margin-bottom:38px;
    }
  }
  &-left{
    &-3{
      margin-left:3px;
    }
    &-5{
      margin-left:5px;
    }
    &-8{
      margin-left:8px;
    }
    &-10{
      margin-left:10px;
    }
    &-12{
      margin-left:12px;
    }
    &-15{
      margin-left:15px;
    }
    &-18{
      margin-left:18px;
    }
    &-28{
      margin-left:28px;
    }
    &-38{
      margin-left:38px;
    }
  }

}

.lineheight-l{
  line-height: 2;
}
  .lineheight{
  &-s1{
    line-height: 1;
  }
  &-s{
    line-height: 1.2;
  }
  &-m{
    line-height: 1.5;
  }
  &-l{
    line-height: 1.8;
  }
  &-l1{
    line-height: 2;
  }
}

.flex{
  &{
  }
  &-start{
    display:flex;
    justify-content:flex-start;
    align-items: center;
  }
  &-end{
    display:flex;
    justify-content:flex-end;
    align-items: center;
  }
  &-center{
    display:flex;
    justify-content:center;
    align-items: center;
  }
  &-between{
    display:flex;
    justify-content:space-between;
    align-items: center;
  }
  &-around{
    display:flex;
    justify-content:space-around;
    align-items: center;
  }
  &-evenly{
    display:flex;
    justify-content:space-evenly;
    align-items: center;
  }
}
.align-items{
  &-stretch{
    align-items: stretch;
  }
  &-center{
    align-items: center;
  }
  &-start{
    align-items: flex-start;
  }
  &-end{
    align-items: flex-end;
  }
  &-baseline{
    align-items: baseline;
  }
}
.text-align{
  &-left{
    text-align:left;
  }
  &-center{
    text-align:center;
  }
  &-right{
    text-align:right;
  }
}

.visible{
  display:block;
}

.hidden{
  display:hidden;
}

.disable{
  opacity: 0.1;
  cursor:default;
}



/*Color*/
.color{
  &-white{
    color:white;
  }
  &-black{
    color:black;
  }
  &-blue{
    color:blue;
  }
  &-yellow{
    color:yellow;
  }
  &-green{
    color:green;
  }
  &-red{
    color:red;
  }
}

/*BackgroundColor*/
.backgroundColor{
  &-white{
    background-color:white;
  }
  &-black{
    background-color:black;
  }
  &-blue{
    background-color:blue;
  }
  &-yellow{
    background-color:yellow;
  }
  &-green{
    background-color:green;
  }
  &-red{
    background-color:red;
  }
  &-classic-blue{
    background-color:#34568B;
  }
  &-tigerlily{
    background-color:#E15D44;
  }
  &-ultimate-gray{
    background-color:#96999b;
  }
}

/*FontStyle*/
.bold{
  font-weight:bold;
}
.italic{
  font-style:italic;
}
.bold-italic{
  font-weight:bold;
  font-style:italic;
}

/* border */
.border{
  &-solid{
    border:1px solid #cdcdcd;
  }
}

/* border radius*/
.border-radius{
  &-px{
    &-2{
      border-radius: 2px;
    }
    &-3{
      border-radius: 3px;
    }
    &-5{
      border-radius: 5px;
    }
    &-8{
      border-radius: 8px;
    }
    &-100{
      border-radius: 100px;
    }
  }
  &-per{
    &-50{
      border-radius: 50%;
    }
  }
}
/* white-space */
.whitespace{
  &-nowrap{
    white-space:nowrap;
  }
  &-nowrap-ellipsis{
    white-space:nowrap;
    text-overflow: ellipsis;
    overflow:hidden;
  }
}