@import '../../../_settings/_variables.css';

.popup{
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:888;
}
.popup-background{
    opacity: .38;
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
}
.popup-content{
    position:absolute;
    top:48%;
    left:50%;
    transform:translate(-50%, -50%);
    max-height:90%;
    max-width:90%;
    overflow: auto;
    box-sizing:border-box;
}