@import '../../../_settings/_variables.css';

.button {
  /* -webkit-appearance: none;
  border: 0;
  outline: 0;
  display: block;
  font-family: var(--base-font-family);
  font-size: 0.9em;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 3px;
  cursor: pointer;
  position: relative; */
}


/* Size */
.s {
}

.m {
}

.l {
}


/* Disabled */

