@import '../../../_settings/_variables.css';

.input {
  box-sizing: border-box;
  border:1px solid #cdcdcd;
}


/* Size */
.size-s1 {
  padding: 3px
}
.size-s {
  padding: 5px
}

.size-m {
  padding: 8px;
}

.size-l {
  padding: 18px;
}
.size-l1 {
  padding: 28px;
}

.disabled{
    background-color:#ececec;
    cursor: not-allowed;
}
