@import '../../../_settings/_variables.css';

.input {
  box-sizing: border-box;
  border:1px solid #cdcdcd;
}

/* Size */
.size-s1 {
  padding: 0px 3px;
  height:18px;
}
.size-s {
  padding: 0px 5px;
  height:28px;
}
.size-m {
  padding: 0px 8px;
  height:38px;
}
.size-l {
  padding: 0px 12px;
  height:48px;
}
.size-l1 {
  padding: 0px 18px;
  height:58px;
}

.disabled{
    background-color:#ececec;
    cursor: not-allowed;
}
