.profile{
  position: absolute;
  right: 18px;
  top: 18px;
}
.profile>*{
  background: #484848;
  display: inline-block;
  margin-right: 8px;
  padding: 0px 8px;
  color: white;
  font-size: 14px;
  border-radius: 3px;
  text-decoration:none;
}