@import '../../../_settings/_variables.css';

.mobile-header{
    display:none;
}

@media (max-width: 768px){
    .mobile a{
        text-decoration: none;
        overflow: hidden;
    }
    .mobile-header{
        display:block;
        background:rgb(30, 63, 150);
        position:fixed;
        left:0;
        top:0;
        width:100%;
        display: flex;
        justify-content: space-between;
        padding:8px 18px;
        box-sizing:border-box;
        align-items:stretch;
    }
    .mobile-header a{
        line-height:0px;
        margin:0px;
    }
    .mobile-header img{
        height:30px;
    }
}