@import '../../../_settings/_variables.css';

.dropdown{
    position:relative;
}
.caret{
    position:absolute;
    right:8px;
    top:50%;
    transform:translateY(-50%);
}
.dropdown-itemList{
    position:absolute;
    left:0;
    top:100%;
    width:100%;
    /* display:none; */
}