@import '../../../_settings/_variables.css';

/* Size */
.s2 {
  width: 8px;
}
.s1 {
  width: 12px;
}
.s {
  width: 15px;
}
.m {
  width: 18px;
}
.l {
  width: 22px;
}
.l1 {
  width: 25px;
}
.l2 {
  width: 28px;
}
